@font-face {
  font-family: "iconfont"; /* Project id 4028304 */
  src: url('iconfont.woff2?t=1681979520337') format('woff2'),
       url('iconfont.woff?t=1681979520337') format('woff'),
       url('iconfont.ttf?t=1681979520337') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangpi:before {
  content: "\e638";
}

.icon-wenzi:before {
  content: "\e60f";
}

.icon-huabi:before {
  content: "\e648";
}

